table {

}

th {
  height: 50px;
  width: 50px;
  text-align: center;
}

td {
     height: 50px;
     width: 50px;
     text-align: center;
}



.blue {
    background-color: blue;
}

.green {
     background-color: green;
 }

 .red {
     background-color: red;
 }